.card {
    width: 420px;
    height: 320px;
  }

  .navbar-brand {
    color: #112989;
  }

  .display-6{
    color: #112989;
    font-weight:500;
  }

  .btn{
    background-color: #112989;
    border-color: transparent;
  }

  .label{
    font-weight: 700;
  }

  .table td {
    font-weight: 500;
  }

  .card-title{
    text-align: center;
  }
  .card-title, .label, .table td {
    color: #112989;
  }

.booksimg {
    margin-top: -180px; /* Ajusta el valor según lo necesites para mover la imagen hacia arriba */
    opacity: 0.4; /* Puedes ajustar este valor de 0 a 1 para cambiar la opacidad */
    margin-left: 1000px;   
}

.calendarimg {
  width: 380px; /* ajusta el ancho de la imagen según lo necesites */
  height: auto; /* permite que la altura se ajuste automáticamente manteniendo la proporción original */
  margin-top: -550px; /* Ajusta el valor según lo necesites para mover la imagen hacia arriba */
  opacity: 0.4; /* Puedes ajustar este valor de 0 a 1 para cambiar la opacidad */
  margin-left: 50px;
}

.contactos{
  text-align: center;
}