<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/land"><i class="bi bi-caret-left-fill"></i> Regresar</a>
      <a class="navbar-brand" href="#">  <i class="bi bi-box-arrow-right"></i> Cerrar sesión</a>
    </div>
  </nav>

  <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <!--Imagen de ejemplo-->
            <img src="https://i.pinimg.com/236x/64/6d/8b/646d8bf5a4b2dc031d9e7d04124aafdd.jpg" class="rounded-circle" alt="Foto de perfil" width="150" height="150">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-2">
            <label for="nombre-usuario" class="display-6">Nombre de usuario</label>
          </div>
        </div>
      </div>
      
      <br>

        <div class="card card-sm">
          <div class="card-body">
            <h5 class="card-title">Información del usuario</h5>
            <table class="table">
              <tbody>
                <tr>
                  <td><label for="label-Matricula" class="label">Matrícula:</label></td>
                  <td>UTM23452234</td>
                </tr>
                <tr>
                  <td><label for="label-UsuarioEmail" class="label">Cuatrimestre en curso:</label></td>
                  <td>11</td>
                </tr>
                <tr>
                  <td><label for="label-Matricula" class="label">Carrera:</label></td>
                  <td>TIDSM</td>
                </tr>
                <tr>
                  <td><label for="label-Matricula" class="label">Horas semanales:</label></td>
                  <td>30 h</td>
                </tr>
                <tr>
                    <td><label for="label-UsuarioEmail" class="label">Taller en curso: </label></td>
                    <td>Teatro</td>
                  </tr>
                  <tr>
                    <td><label for="label-UsuarioEmail" class="label">Cuenta con equipo de computo:</label></td>
                    <td>Si</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div class="contactos">
            <h5>Para reportar un problema o situación:</h5>
            <p>Sporte tecnico: 512341351</p>
            <p>Administadores: 523452321</p>
            <p>Encargado de laboratorios: 4999230489</p>
            <p>Sporte tecnico: 512341351</p>
          </div>
        </div>
      </div>

          <img src="https://images.vexels.com/media/users/3/157518/isolated/preview/c54323942a5b08df8411e33e25680ab3-pile-of-books-vector.png" alt="Imagen" class="booksimg">
          <img src="https://static.vecteezy.com/system/resources/previews/010/851/447/original/calendar-flat-icon-png.png" alt="Imagen" class="calendarimg">       


  <router-outlet></router-outlet> 