.rounded-button {
  border: none;
  border-radius: 20px; /* Ajusta el valor según el radio de redondeo que desees */
  background-color: blue; /* Color de fondo azul */
  color: white; /* Color de texto blanco */
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer;
}

.rounded-button:hover {
  background-color: darkblue; /* Cambia el color de fondo al pasar el mouse */
}

.navbar-custom {
  background-color: #112989 !important;
}

.navbar-brand {
  color: #ffffff !important;
  margin: auto !important;
  display: block !important;
  font-size:26px;
  font-weight: bolder;
}

.navbar-button {
  color: rgb(6, 24, 95);
}

.navbar-button {
  background-color: #0011ff; /* Cambia el color de fondo del botón */
  color: #ffffff; /* Cambia el color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Ajusta el radio de borde según desees */
  padding: 10px 20px; /* Ajusta el relleno del botón según desees */
  font-size: 16px; /* Cambia el tamaño de la fuente del botón según desees */
}

.navbar-button:hover {
  background-color: #2b00e9; /* Cambia el color de fondo del botón al pasar el mouse */
  color: #ffffff; /* Cambia el color del texto del botón al pasar el mouse */
}

.card{
  margin-right: 30px;
  margin-left: 30px;
}


.card-header{
color: #112989;
font-size: larger;
font-weight:700;
text-align: center;
}

.custom-header{
color:#112989;
}
