<nav class="navbar bg-body-tertiary bg-primary navbar-expand">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Cerrar sesión</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Reservas">
            <i class="bi bi-calendar">
            </i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-bell"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Usuarios"><i class="bi bi-person"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="mt-5">
  
  </div>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">
            <i class="bi bi-puzzle custom-icon   mr-1"></i>
            Áreas deportivas
          </div>
          <div class="card-body">
            <p class="card-text">3 </p>
  
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-danger mb-3">
          <div class=" card-header"> <i class="bi bi-pc-display-horizontal custom-icon mr-1"></i> Laboratorios </div>
          <div class="card-body">
            <p class="card-text">2 </p>
  
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
          <div class="card-header"> <i class="bi bi-geo-fill custom-icon mr-1"></i> Otras áreas </div>
          <div class="card-body">
            <p class="card-text">1</p>
  
          </div>
        </div>
      </div>
  
    </div>
    <div class="card">
      <div class="card-header">Tabla de Reservas</div>
      <div class="card-body" style="overflow-x: auto;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mt-2" *ngFor="let reserva of reservasAll; let i = index">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{i+1}}</h5>
                  <p class="card-text">ID: {{reserva.ID}}</p>
                  <p class="card-text">AreaID: {{reserva.areaID}}</p>
                  <p class="card-text">UsuarioEmail: {{reserva.usuarioEmail}}</p>
                  <p class="card-text">FechaInicio: {{reserva.fechaInicio}}</p>
                  <p class="card-text">FechaFin: {{reserva.fechaFin}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container-fluid">
  
  
  
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
      <router-outlet></router-outlet>
  
      <div class="row mt-3">
        <div class="col-6"></div>
        <div class="col-2">
          <a href="/resdet">
            <button class="rounded-button">Reservar</button>
          </a>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
  </div>
  